@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Calligraffitti&family=Goldman:wght@400;700&family=Whisper&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  background-color: rgb(40, 40, 40);
	font-family: "Annie Use Your Telescope", cursive;
	width: 100vw;
	height: 100vh;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-left: 40px;
    letter-spacing: 2px;
}
